/* Add styles here */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

/* 
    blazorise picker workaround for https://github.com/Megabit/Blazorise/issues/4917
*/
.flatpickr-calendar.static {
    top: unset !important;
}

:root .lpx-theme-dim, :root .lpx-theme-dark {
    --lpx-logo: url('/images/logo/leptonx/icon.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

:root .lpx-theme-light {
    --lpx-logo: url('/images/logo/leptonx/icon.svg');
    --lpx-logo-icon: url('/images/logo/leptonx/icon.svg');
}

.pac-container {
    z-index: 1060000; /* Make sure this value is higher than the modal's z-index */
}


.photo-container {
    position: relative;
}

.photo-image {
    width: 100%;
    height: auto;
}

.delete-button {
    z-index: 10;
    opacity: 0.8;
    transition: opacity 0.3s;
}

    .delete-button:hover {
        opacity: 1;
    }

.control-container {
    background-color: #e5e5e5;
    height: 600px;
    margin: 0 auto;
    width: 800px;
}

.e-carousel .e-carousel-items .e-carousel-item .img-container {
    height: 100%;
}

.e-carousel .e-carousel-items .e-carousel-item .img-caption {
    bottom: 4em;
    color: #fff;
    font-size: 12pt;
    height: 2em;
    position: relative;
    padding: 0.3em 1em;
    text-align: center;
    width: 100%;
}

.e-carousel .e-carousel-indicators {
    bottom: auto;
}

.template-carousel .e-carousel-items,
.template-carousel .e-carousel-navigators {
    height: calc(100% - 3rem);
}

.template-carousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar .indicator {
    background-color: #ECECEC;
    border-radius: 0.25rem;
    cursor: pointer;
    height: 4rem;
    margin: 0.6rem;
    width: 6rem;
}

.template-carousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar .indicator img {
    padding: 2px;
}

.template-carousel .e-carousel-indicators .e-indicator-bars .e-indicator-bar.e-active .indicator {
    background-color: #3C78EF;
}

.bpp-sf-date.e-input-group {
    background-color: #f0f4f7;
    border-radius: 0.5rem;
    border-color: #e8eef3 !important;
    color: #062a44;
    padding: 0.675rem 1.25rem;
    padding-right: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.5;
    box-shadow: none !important;
}
.bpp-sf-date.e-input-group input.e-input {
    background-color: #f0f4f7;
    border-radius: 0.5rem;
    border-color: #e8eef3;
    color: #062a44;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 0;
    height: auto;
}
.bpp-sf-date.e-input-group.e-input-focus input.e-input {
    padding: 0;
}
.bpp-sf-date.e-input-group span.e-input-group-icon {
    min-height: 12px;
    height: 20px;
}
.bpp-sf-multiselect.e-multiselect.e-input-group {
    border-radius: 0.5rem;
    border-color: #e8eef3 !important;
}
.bpp-sf-multiselect.e-multiselect.e-input-group.e-success {
    border-radius: 0.5rem;
    border-color: #e8eef3;
}
.bpp-sf-multiselect.e-multiselect.e-input-group.e-input-focus {
    box-shadow: none !important;
}
.bpp-sf-multiselect.e-multiselect .e-multi-select-wrapper {
    background-color: #f0f4f7;
}
.bpp-sf-multiselect.e-multiselect .e-multi-select-wrapper .e-multiselect {
    background-color: #f0f4f7;
    border-radius: 0.5rem;
    border-color: #e8eef3;
    color: #062a44;
    font-size: 0.875rem;
    line-height: 1.5;
    font-weight: 500;
    padding: 0.675rem 1.25rem;
    height: auto;
}
.bpp-sf-multiselect.e-multiselect .e-chips {
    height: 30px;
    margin-top: 6px;
}